{% extends "base.html" %} {% load static%} {% block titulo%}{{title}}{% endblock %} {% block custom_css %}
<style>
    h1 {
        font-family: Arial Narrow Bold;
        text-align: center;
    }
</style>
{%endblock%} {% block contenido %}
<h1>{{title}}</h1>
<div class="container">
    <div class="row">
        <div class="col">
            <p>{{content}}</p>
            <form method="POST">
                {% csrf_token %} {{form}}
                <button type="submit" class="btn btn-primary">Enviar</button>
                <a class="btn btn-default" href={% url 'registro' %}>Registrarte</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}