{% extends base_extend %} {% load static%} {% block titulo%}{{title}}{% endblock %} {% block custom_css %}
<style>
    h1 {
        font-family: Arial Narrow Bold;
        text-align: center;
    }
</style>
{%endblock%} {% block contenido %}
<h1>{{title}}</h1>
<div class="container">
    <div class="row">
        <div class="col">
            <p>{{content}}</p>
            <form method="POST" action={% url 'auth:login' %}>
                {% csrf_token %} {{form}} 
                {% if next_url %}
                <input type='hidden' name='next_url' value={{next_url}}> 
                {% endif %}
                <button type="submit" class="btn btn-primary">Enviar</button>
                <a class="btn btn-default" href={% url 'auth:registro' %}>Registrarte</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}