{% extends "base.html" %} {% load static%} {% block titulo%}{{title}}{% endblock %} {% block contenido %}
<h1>{{title}}</h1>
<div class="container">
    <div class="row">
        <div class="col">{{content}}</div>
    </div>

    {% if request.user.is_authenticated %}
    <div class="row">
        <a href={% url 'auth:salir' %}>Salir</a>
        <div class="col">
            <h2>Premium Content</h2>
            <h3>{{premium_content}}</h3>
        </div>
    </div>

    {% else %}
    <a href={% url 'auth:login' %}>Iniciar Premium</a>
    <a href={% url 'auth:registro' %}>Registrarse</a>
    {% endif %}

</div>
{% endblock %}