{% extends 'base.html'%} {% block contenido%}

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            {% if carrito.productos.exists %}
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Vista</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in carrito.productos.all %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>
                            <img src={{MEDIA_URL}}{{obj.imagen}} class="img-fluid" alt="{{obj.titulo}}">
                        </td>
                        <td>$ {{obj.precio}}</td>
                        <th>1</th>
                        <td>
                            <a href={%url 'carrito:remove' id=obj.id %} class="btn btn-warning">Remover del carrito</a>
                            <a href={%url 'productos:detalle' slug=obj.slug %} class="btn btn-primary">Ver detalle </a>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td colspan="1">Subtotal: </td>
                        <td>$ {{carrito.sub_total}}</td>
                        <td colspan="1"> </td>
                    </tr>
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td colspan="1">Subtotal + IVA </td>
                        <td>$ {{carrito.total}}</td>
                        <td colspan="1"> </td>
                    </tr>
                </tbody>
            </table>
            {% else %}
            <p>El carrito no tiene productos</p>
            <hr/>
            <a href={% url 'productos:lista' %}> Explorar algunos</a>
            {%endif%}
        </div>
    </div>
</div>
{% endblock %}